header {
    border: 5px solid #56515e;
    width: 100%;
    margin: 15px;
    padding: 15px;
}
body {
    display: flex;
    flex-direction: column;
    background: #e3e3e2
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
h1 {
    border: 3px solid gray;
    padding: 1.5px;
    color: #9a8c98
}
h2 {
    color: #323255
}
h3, h4 {
    color: #56515e
}
p {
    color: #6a5f69
}
footer {
    display: flex;
    width: 100%;
    border: 1px solid grey;
}
